
font-face {
  font-family: 'Circular std';
  src: url('fonts/circular-std.otf'), format('opentype');
}
.App {
  width: 100%;
  background-color:#0B252C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color:white;
  font-family: 'Circular std', Fallback, sans-serif;
}

.top-pic {
  background-image: url('football.jpg');
  Width: 100%;
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  display:flex;
  height: 74px; 
  width: 100%;
  background-color: #8CC484 !important;
  margin-top: 200px;
  color: #0B252C;
  align-items: center;
}
.holy-logo {
  width:80%;
  height: 20%;
  margin-top: 15px;
}

.heading {
  Width: 80%;
  color: white;
  height: 80%;
}

.main-heading {
  font-size: 62px;
  font-weight: bold;
  line-height: 74.4px;
  margin-bottom: 20px;
}

span {
  display: block;
}
.sub-heading {
  font-size: 22px;
  font-weight: normal;
  line-height: 28px;
  margin-bottom: 20px;
}
.green-button {
  height: 50px;
  width: 220px;
  border-radius: 6px;
  background-color: #8CC484;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 20px;
  font-weight: normal;
  border: none;
}
.green-button:hover {
  background-color: #5D926F;
}
.transparent-button {
  border: 1px solid #FFFFFF;
  height: 50px;
  width: 220px;
  border-radius: 6px;
  Font-size: 20px;
  color: white;
  background-color: transparent;
  margin-top: 20px;
  font-weight: normal;
  line-height: 25px;
}
.transparent-button:hover, .copy-button:hover {
  background-color: #ffffff;
  color: #000000;
}
.copy-button {
  border: 1px solid #FFFFFF;
  height: 50px;
  width: 320px;
  border-radius: 6px;
  Font-size: 20px;
  color: white;
  background-color: transparent;
  border-color: white;
  margin-top: 20px;
  font-weight: normal;
  line-height: 25px;
}
.heading-buttons {
  display: flex;
  flex-direction: column;
}
.guide-wrapper {
  Display: flex;
  flex-direction: row;
}
.scramble-view {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-part {
  width: 80%;
  Color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap
}
.get-started {
  Font-size: 32px;
  margin-bottom: 20px;
  margin-top: 40px;
  font-weight: bold;
  line-height: 40px;
}
textarea {
  padding: 10px;
  font-size: 21px;
  font-family: 'Circular std', Fallback, sans-serif;
  resize: none;
  line-height: 130%;
}
.text-input {
  Width: 560px;
  height: 209px;
}
.text-box-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.add-names {
  margin-bottom: 10px;
}
.text-buttons {
  width: 45%;
  display:flex;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  
  background-repeat: no-repeat;
  background-size: 0.5em auto;
  background-position: right 0.25em center;
  padding-right: 5px;
  padding-left: 10px;
  background-image: url('icon/dropdownarrow.svg');
}
.drop-down-menu {
  font-family: 'Circular std', Fallback, sans-serif;
  margin-left: 40px;
  width:160px;
  height:44px;
  border-radius: 2px;
  font-size: 21px;
}
.drop-down-menu:hover {
  background-color:white !important;
}
.results {
  width: 80%;
  Color: white;
  display: flex;
  flex-direction: column;
  margin-top:50px;
}
.teams {
  width: 80%;
  display:flex;
  flex-direction: column;
  margin-top: 48px;
}
.team-header {
  margin-bottom: 28px;
  display:flex;
  align-items: center;
}
.users-image {
  height: 31.5px;
  width: 31.5px;
  margin-right: 15.25px;
}
.team {
  font-size: 22px;
  margin-right: 80px;
  display:flex;
  flex-direction: column;
  margin-bottom: 28px;
}
.team-container {
  width: 100%;
  Display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.persons {
  height: 50px;
  width: 320px;
  border-radius: 6px;
  border: none;
  background-color: #8CC484;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  display:flex;
  align-items: center;
}
.persons-icon {
  height: 25px;
  width: 22px;
  margin: 0px 15px;
}
.copyright {
  margin-left: 140px;
}
.arrow {
  width: 20%;
  height: 200px;
  background-image: url('./icon/arrow.png');
  background-repeat: no-repeat;
}
@media only screen and (max-width: 820px) {
  .heading {
    width: 94%;
    margin-left: 20px;
  }
  .footer {
    width: 100%;
    font-size: 16px;
  }
  .copyright {
    margin-left: 8px;
  }
  .input-part {
    width: 94%;
    margin-left: 20px;
  }
  .results {
    width: 94%;
    margin-left: 20px;
  }
  .teams {
    width: 94%;
    margin-left: 20px
  }
  .main-heading {
    font-size: 42px;
    font-weight: 500;
    line-height: 120%;
  }
  .sub-heading {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
  }
  .text-box-row {
    flex-direction: column;
  }
  .text-input {
    Width: 88%;
    height: 209px;
  }
  .drop-down-menu {
    margin-left: 0;
  }
  .team-header {
    margin-top: 15px;
  }
  .guide-wrapper {
    width: 100%;
    flex-direction: column;
  }
  .green-button, .transparent-button, .persons, .copy-button {
    width: 94%;
  }
  .text-buttons {
    width: 100%;
    flex-direction: column;
  }
  .holy-logo {
    width: 95%;
    margin-left: 20px;
  }
  .team {
    width: 100%;
    margin: 0;
  }

}